
.aboutTitle {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 48px;
  text-shadow: 2px 2px #ffbf00;
}

.container {
  background: -moz-linear-gradient(180deg, rgba(5, 12, 28) 0%, rgba(90, 14, 24, 1) 44%);
  background: -webkit-linear-gradient(180deg, rgba(5, 12, 28) 0%, rgba(90, 14, 24, 1) 44%);
  background: linear-gradient(180deg, rgba(5, 12, 28) 0%, rgba(90, 14, 24, 1) 44%);
  size: 30px;
  padding: 8px;
}

.aboutText {
  margin-bottom: 16px;
  margin-top: 16px;
  line-height: 1.5;
  font-size: 20px;
}


.image {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: auto;
}